#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "mantis"
name = "Mantis"
description.en = "Bug tracking system"
description.fr = "Système de suivi des bugs"

version = "2.27.1~ynh1"

maintainers = []

[upstream]
license = "GPL-3.0-only"
website = "https://mantisbt.org/"
demo = "https://mantisbt.org/bugs/my_view_page.php"
admindoc = "https://mantisbt.org/documentation.php"
code = "https://github.com/mantisbt/mantisbt/"
cpe = "cpe:2.3:a:jenkins:mantis"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = true

sso = false

disk = "50M"
ram.build = "120M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/mantis"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.default_access_level]
    ask.en = "Choose the default access level for new users"
    ask.fr = "Choisissez le niveau d'accès par défaut pour les nouveaux utilisateurs"
    type = "select"
    choices.VIEWER = "Viewer"
    choices.REPORTER = "Reporter"
    choices.UPDATER = "Updater"
    choices.DEVELOPER = "Developer"
    choices.MANAGER = "Manager"
    default = "REPORTER"

[resources]
    [resources.sources.main]
    url = "https://github.com/mantisbt/mantisbt/archive/refs/tags/release-2.27.1.tar.gz"
    sha256 = "7edd77398e85a49935a67595c8fe5668e5c3f47244928b9f2229a53ec48ab86c"

    autoupdate.strategy = "latest_github_tag"
    autoupdate.version_regex = "^release-(.*)$"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = [
        "php8.2-mbstring",
        "php8.2-fpm",
        "php8.2-common",
        "php8.2-gmp",
        "php8.2-curl",
        "php8.2-intl",
        "php8.2-xmlrpc",
        "php8.2-mysql",
        "php8.2-gd",
        "php8.2-xml",
        "php8.2-cli",
        "php8.2-zip",
        "php8.2-ldap",
        "php8.2-bcmath",
        "mariadb-server",
    ]

    [resources.database]
    type = "mysql"
